@import url('https://fonts.cdnfonts.com/css/gilam');
@import url('https://fonts.cdnfonts.com/css/circe');
*{
    background-color: #171717;
}

header {
height: 100px;
}

.logo{
    float:left;
    margin-left: 230px;
    margin-top: 46px;
}
.reverse_call{
    border: 1px solid #E4B564;
    width: 218px;
    height: 50px;
    float: right;
    display: flex;
    justify-content: space-around;
    margin-right: 230px;
    margin-top: 37px;
}
.reverse_call img{
    width:12.96px;
    height: 12.96px;
    align-self: center;
    padding-left: 15px;
}
.reverse_call p{
    color: #E4B564;
    font-family: 'Circe', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    align-self: center;
    padding-right: 25px;
}
a:hover,
 a{
border: 5px solid transparent;
    text-decoration: none;
    color: #E4B564;


}

.title{
margin-top: 128px;
    width: 599px;
    height: 28px;
    margin-left: 230px;
}
 .title h1{
    color: #FFFFFF;
    font-family: 'Gilam', serif;
    font-style: normal;
    font-weight: 700;

    line-height: 28px;
}
 .article{
     margin-left: 230px;
     width: 1182px;
     height: 56px;
 }
 .article p{
     font-family: 'Gilam', serif;
     font-style: normal;
     font-weight: 700;
     line-height: 28px;
     color: #FFFFFF;
     font-size: 20px;
 }
 .main_blocks{
     margin-left: 230px;
     margin-right: 230px;
 }
 .first_blocks{
     display: grid;
     grid-template-columns: 467px 467px 467px;

     margin-top: 41px;
     grid-template-rows: 468px;
     grid-column-gap: 34px;
     grid-row-gap: 27px;



 }

.first_block{
    background-color: #634F2C;

    display: flex;
    align-items: center;
    justify-content: center;
}
.first_block p{
    font-family: 'Gilam', serif;
    background-color: #634F2C;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    width: 170px;
    height: 28px;

    color: #FFFFFF;

}
.second_block{

    background: #B4A385;
    display: flex;
    align-items: center;
    justify-content: center;

}
.second_block p{
    background: #B4A385;
    width: 380px;
    height: 56px;
    font-family: 'Gilam',serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}
.third_block{
    display: flex;
    align-items: center;
    justify-content: center;

    background: #E4B564;

}
.third_block p{
    background: #E4B564;
    font-family: 'Gilam',serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    width: 186px;
    height: 28px;
}
.last_blocks{
    display: grid;
    grid-template-columns: 715px 715px;
    grid-template-rows: 468px;
    grid-column-gap: 34px;

    margin-top: 27px;
}
.fourth_block{


    background: #635A4A;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fourth_block p{
    font-family: 'Gilam',serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    background: #635A4A;
}
.fifth_block{


    background: #B08C4D;
    display: flex;
    align-items: center;
    justify-content: center;

}
.fifth_block p{
    font-family: 'Gilam',serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    background: #B08C4D;
}
.second_title{
    margin-top: 161px;
    width: 977px;
    height: 28px;
margin-bottom: 94px;
}
.second_title h1{
    font-family: 'Gilam',serif;
    font-style: normal;
    font-weight: 700;

    line-height: 28px;
    color: #FFFFFF;
}


.main_blocks_second{
display: grid;
    grid-template-columns: repeat(3,467px);
    grid-template-areas:
        "a b c"
        "d e f"
        "d e g";
    grid-template-rows: 313px;

    grid-gap: 30px;
}
.first_block_of_second{
    background: #0E0E0E;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: a;
}
.first_block_of_second p{
    font-family: 'Gilam',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;

    color: #FFFFFF;
}
.big{
    font-weight: 700;
    background-color: transparent;
}
.second_block_of_second{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #242424;
    grid-area: b;
}
.second_block_of_second p{
    font-family: 'Gilam',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    background-color: #242424;
    color: #FFFFFF;
}
.third_block_of_second{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1F1F1F;
    grid-area: c;
}
.third_block_of_second p{
    font-family: 'Gilam',serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    background: #1F1F1F;
}
.fourth_block_of_second{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1F1F1F;
    grid-area: d;
}
.fourth_block_of_second p{
    font-family: 'Gilam',serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;


}
.fifth_block_of_second{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E4B564;
    grid-area: e;
    height: 405px;
}
.fifth_block_of_second p{
    font-family: 'Gilam',serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    background: #E4B564;
}
.six_block_of_second{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0E0E0E;
    grid-area: f;
height: 313px;

}
.six_block_of_second p{
    font-family: 'Gilam',serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}
.seven_block_of_second{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0A0909;
    grid-area: g;
    height: 277px;
}
.seven_block_of_second p{
    font-family: 'Gilam',serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}
.third-title{
    width: 597px;
    height: 28px;
}
.third-title h1{
    font-family: 'Gilam',serif;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    color: #FFFFFF;
}

footer{
    background-color: #171717;
    height: 1054px;

}
.footer{
    margin-top: 161px;
    margin-left: 230px;
    margin-right: 230px;

}
.all_projects {
    border: 1px solid #E4B564;
    width: 218px;
    height: 50px;
    float: right;
    display: flex;
    justify-content: space-around;
    align-items: center;
margin-bottom: 61px;
}
.all_projects p{
    font-family: 'Circe',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
}
.first_block_of_third{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 487px;
    height: 391px;
    background: #634F2C;
}
.first_block_of_third img{
    background: transparent;
}
.second_block_of_third{
    width: 486px;
    height: 391px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(232, 210, 171, 0.76);

    flex-direction: column;
}
.second_block_of_third p{
    width: 326px;
    height: 140px;
}
.second_block_of_third p, img {
    background: transparent;
    font-family: 'Gilam',serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;

    text-align: center;

    color: #FFFFFF;

}
.thin{
    font-weight: 400;
    background: transparent;
}
.third_block_of_third{
    width: 487px;
    height: 391px;
    background: #E4B564;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fourth_block_of_third, .third_block_of_third img{
    background: transparent;
}
.fourth_block_of_third{
    width: 487px;
    height: 391px;
    background: #635A4A;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fifth_block_of_third{
    width: 486px;
    height: 391px;
    background: #B08C4D;
    display: flex;
    align-items: center;
    justify-content: center;

}
.letters{
    padding-left: 10px;
}
.main_blocks_third{
    display: grid;
    grid-template-columns: 487px 486px 487px;
    grid-template-rows: repeat(3,391px);
    margin-left: 230px;
    margin-top: 72px;
}
